@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *)) ;

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
/* Make nav links white when the `dark` class is applied to <html> */
.dark .text-gray-700 ,
.dark .text-gray-700  a {
  color: #ffffff !important;
}

/* Make the top nav background black when dark mode is active */
.dark {
  background-color: #000000 !important;

}

@theme {
  --color-primary: #504485; 
}

/* Hide decorative bgImage1 when dark mode is active */
.dark .bgimage1 {
  display: none !important;
}


 